Package: pegada-carbono
Version: 1.0.0
Architecture: all
Maintainer: Iago Carvalho <iagobgc@gmail.com>
Depends: python3, python3-pip
Description: Uma calculadora de pegada de carbono interativa.
 Este programa, desenvolvido para a disciplina de APC na UnB,
 permite que usuários estimem sua pegada de carbono mensal
 com base em hábitos de energia, locomoção e alimentação,
 oferecendo também relatórios gráficos.
